# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Docs Build and Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn build
      env:
        CI: true
    - name: Deploy to GitHub Pages
      uses: crazy-max/ghaction-github-pages@v4.0.0
      with:    
        # Allow an empty commit to be created
        allow_empty_commit: false
        # Build directory to deploy
        build_dir: build
        # Write the given domain name to the CNAME file
        fqdn: docs.certifytheweb.com
      env:
        GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
